.shape{
	border-style: solid; border-width: 0 70px 40px 0; float:right; height: 0px; width: 0px;
	-ms-transform:rotate(360deg); /* IE 9 */
	-o-transform: rotate(360deg);  /* Opera 10.5 */
	-webkit-transform:rotate(360deg); /* Safari and Chrome */
	transform:rotate(360deg);
}

.shape-text{
    color:#fff; font-size:10px; font-weight:bold; position:relative; right:-30px; top:2px; white-space: nowrap;
	-ms-transform:rotate(30deg); /* IE 9 */
	-o-transform: rotate(360deg);  /* Opera 10.5 */
	-webkit-transform:rotate(30deg); /* Safari and Chrome */
	transform:rotate(30deg);
}

.project {
    min-height:300px;
    height:auto;
}

.project{
    background:#fff; border:1px solid #ddd; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); margin: 15px 0; overflow:hidden;
}

.project-radius{
    border-radius:7px;
}

.project-default {    border-color:#ff661b; }
.project-default .shape{
	border-color: transparent #ff661b transparent transparent;
	border-color: rgba(255,255,255,0) #ff661b rgba(255,255,255,0) rgba(255,255,255,0);
}



.project-content {
    padding:0 20px 10px;
}
img{
	width: 100%;
}
.pagination>li>a, .pagination>li>span
{ border-radius: 50% !important;margin: 0 5px;}
.pagination__center{
	text-align: center;
}
.active--color{
	background-color: #25cad3 !important;
	border-color:  #25cad3 !important;
}
hr{
	    border: 1px solid #25cad3;
}
.more{
    background-color: #ff631b;
    color: white;
    border-color: #ff631b;
    margin-top: 20px;
    margin-left: 200px;
}

