main {
    padding: 0;
}

h2 {
    font-size: 3rem;
    font-weight: bolder;
}

#inicio-sesion {
    background-color: #25cad3;
    color: #fff; 
    padding: 10rem 0;
}

#registro {
    background-color: #fff;
    padding: 10rem 3rem;
}