/*diana1*/

body {
    font-family: 'Muli', sans-serif;
}

.orange-background {
    background-color: #ff661b;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
    color: #ebd4b5;
    font-weight: 700;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-nav>li>a:hover {
    color: #fff;
    cursor: pointer;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
    background-color: #ff661b;
}

.navbar-inverse .navbar-toggle {
    border-color: #fff;
}

footer {
    border-top: 9px solid #ff661b;
    background-color: #393737;
    padding: 4rem 0 2rem;
    color: #fff;
}

footer #redes,
footer #contacto {
    margin-bottom: 3rem;
}

footer #redes a {
    color: #393737;
    background-color: #fff;
    padding: 1rem;
    border-radius: 50%;
    margin: 1rem;
}

footer a:hover {
    cursor: pointer;
}

footer #contacto a {
    color: #fff;
}

/*Mariana*/

