/*diana1*/

body {
    font-family: 'Muli', sans-serif;
}

.orange-background {
    background-color: #ff661b;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
    color: #ebd4b5;
    font-weight: 700;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-nav>li>a:hover {
    color: #fff;
    cursor: pointer;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
    background-color: #ff661b;
}

.navbar-inverse .navbar-toggle {
    border-color: #fff;
}

footer {
    border-top: 9px solid #ff661b;
    background-color: #393737;
    padding: 4rem 0 2rem;
    color: #fff;
}

footer #redes,
footer #contacto {
    margin-bottom: 3rem;
}

footer #redes a {
    color: #393737;
    background-color: #fff;
    padding: 1rem;
    border-radius: 50%;
    margin: 1rem;
}

footer a:hover {
    cursor: pointer;
}

footer #contacto a {
    color: #fff;
}


/*Mariana*/

.btn-primary--blue {
    background-color: #25cad3;
}

div a {
    text-decoration: none;
    color: white;
}

div.scroll {
    width: 470px;
    height: 430px;
    overflow: scroll;
    border-style: outset;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #94d500;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.overlay--fucsia {
    background-color: #ea1d75;
}

.overlay--purple {
    background-color: #b24ec4;
}

.combo:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.margin-top {
    margin-top: 0;
    margin-left: 15px;
}
